<!-- File ./templates/index.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
  <title>Student Events - New Zealand</title>
</head>
<body>
  <div id="nav_main_hero"></div>
  <script type="module" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    <div class="bg-white">
        <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Featured Upcoming Event!</h2>
            <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">
              Join us for a weekend of innovation and creativity at the annual Student Hackathon. Collaborate with fellow students to solve real-world problems, learn new technologies, and showcase your skills. Whether you're a seasoned coder or just starting, this event is designed to bring out the best in you. Participate in workshops, network with industry professionals, and compete for exciting prizes. Don't miss this opportunity to turn your ideas into reality!
            </p>
            <!-- Image section -->
            <div class="mt-10 flex justify-center">
              <img class="rounded-lg w-1/2 h-auto mx-2" src="https://images.unsplash.com/photo-1552664730-d307ca884978?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-1.2.1&q=80&w=400" alt="Hackathon Image 1">
              <img class="rounded-lg w-1/2 h-auto mx-2" src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-1.2.1&q=80&w=400" alt="Hackathon Image 2">
              <img class="rounded-lg w-1/2 h-auto mx-2" src="https://images.unsplash.com/photo-1520881363902-a0ff4e722963?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-1.2.1&q=80&w=400" alt="Hackathon Image 3">
            </div>

            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Join Event</a>
            </div>
          </div>
        </div>
    </div>
<div class="overflow-hidden bg-gray-900 py-32">
  <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-12 gap-y-16 lg:mx-0 lg:min-w-full lg:max-w-none lg:flex-none lg:gap-y-8">
      <div class="lg:col-end-1 lg:w-full lg:max-w-lg lg:pb-8">
        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Galleries</h2>
        <p class="mt-6 text-xl leading-8 text-gray-600">Explore our galleries to get a glimpse of the vibrant and diverse events that we host for students. From hands-on workshops and engaging seminars to fun-filled adventure clubs and social gatherings, our photo galleries capture the essence of student life. See the energy, enthusiasm, and camaraderie that make our events unforgettable.</p>
        <p class="mt-6 text-base leading-7 text-gray-600">By exploring our galleries, you can see the wide range of activities and events we offer, giving you a taste of what to expect and inspiring you to join us in future events. Whether you’re looking to enhance your skills, network with like-minded individuals, or simply have a good time, our student events provide the perfect platform.</p>
        <div class="mt-10 flex">
          <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">View Galleries</a>
        </div>
      </div>
      <div class="flex flex-wrap items-start justify-end gap-6 sm:gap-8 lg:contents">
        <div class="w-0 flex-auto lg:ml-auto lg:w-auto lg:flex-none lg:self-end">
          <img src="https://images.unsplash.com/photo-1670272502246-768d249768ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&q=80" alt="" class="aspect-[7/5] w-[37rem] max-w-none rounded-2xl bg-gray-50 object-cover">
        </div>
        <div class="contents lg:col-span-2 lg:col-end-2 lg:ml-auto lg:flex lg:w-[37rem] lg:items-start lg:justify-end lg:gap-x-8">
          <div class="order-first flex w-64 flex-none justify-end self-end lg:w-auto">
            <img src="https://images.unsplash.com/photo-1605656816944-971cd5c1407f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&h=604&q=80" alt="" class="aspect-[4/3] w-[24rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="flex w-96 flex-auto justify-end lg:w-auto lg:flex-none">
            <img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1152&h=842&q=80" alt="" class="aspect-[7/5] w-[37rem] max-w-none flex-none rounded-2xl bg-gray-50 object-cover">
          </div>
          <div class="hidden sm:block sm:w-0 sm:flex-auto lg:w-auto lg:flex-none">
            <img src="https://images.unsplash.com/photo-1612872087720-bb876e2e67d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=768&h=604&q=80" alt="" class="aspect-[4/3] w-[24rem] max-w-none rounded-2xl bg-gray-50 object-cover">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
    <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8">
        <div class="mx-auto max-w-7xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">All Events</h2>
            <!-- Image section -->
            <div class="mt-10 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-2">
                <a href="/events/workshops" class="relative block">
                    <img class="rounded-lg w-full h-96 object-cover" src="https://images.unsplash.com/photo-1552581234-26160f608093?q=80&w=3600&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hackathon Image 1">
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center rounded-lg hover:bg-opacity-25 transition duration-300">
                        <span class="text-white text-2xl font-bold opacity-75">Workshop</span>
                    </div>
                </a>
                <a href="/events/adventure" class="relative block">
                    <img class="rounded-lg w-full h-96 object-cover" src="https://images.unsplash.com/photo-1476611338391-6f395a0ebc7b?q=80&w=3503&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hackathon Image 2">
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center rounded-lg hover:bg-opacity-25 transition duration-300">
                        <span class="text-white text-2xl font-bold opacity-75">Adventure</span>
                    </div>
                </a>
                <a href="/events/outdoor-seminar" class="relative block">
                    <img class="rounded-lg w-full h-96 object-cover" src="https://plus.unsplash.com/premium_photo-1716866638358-7dfc3c0b31fc?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hackathon Image 3">
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center rounded-lg hover:bg-opacity-25 transition duration-300">
                        <span class="text-white text-2xl font-bold opacity-75">Outdoor Seminar</span>
                    </div>
                </a>
                <a href="/events/club" class="relative block">
                    <img class="rounded-lg w-full h-96 object-cover" src="https://plus.unsplash.com/premium_photo-1683167306255-e18aa6365a9c?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Hackathon Image 4">
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center rounded-lg hover:bg-opacity-25 transition duration-300">
                        <span class="text-white text-2xl font-bold opacity-75">Club</span>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>
<div id="footer"></div>
</body>
</html>