<!-- File ./user/dashboard.html  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
  <title>User Dashboard</title>
</head>
<html class="h-full bg-gray-100">
<body class="h-full">
  <div id="user-dashboard"></div>
  <script type="module" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  <br><br><br>
  <div id="footer"></div>
</body>
</html>